.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
}
.navbar-nav {
  font-size: 20px;
  font-weight: 400;
}
.navbar .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.795);
}
.navbar .navbar-nav .nav-link:hover {
  color: rgb(238, 173, 75);
}
.navbar .container .collapse .navbar-nav .nav-item:nth-child(5) {
  margin-left: 1rem;
}
.pointer {
  cursor: pointer;
}
.top-60 {
  top: 60%;
}
.bg-linear {
  background-image: linear-gradient(to top, rgb(119, 119, 119), #494949);
}
.carousel-text a {
  text-decoration: none;
}
.carousel-bg2-text {
  position: absolute;
  top: 50%;
  right: 0;
  margin-right: calc(40% - 1100px / 2);
  z-index: 1;
}
.carousel-text h1 {
  font-size: 30px;
  padding: 10px;
  background: -webkit-linear-gradient(rgb(156, 156, 156), rgb(247, 247, 247));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.carousel-bg2-text h1 {
  font-size: 60px;
  background: -webkit-linear-gradient(rgb(156, 156, 156), rgb(247, 247, 247));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.carousel-bg2-text h3 {
  color: rgb(226, 226, 226);
  font-size: 40px;
}

.carousel-text .btn {
  box-shadow: 0 10px 15px rgb(80, 80, 80);
}
.carousel-text-more {
  color: #000;
  background-color: #fff;
  padding: 5px 30px;
  text-transform: capitalize;
  text-decoration: none;
  font-size: 18px;
  margin-left: 44%;
}
.carousel-text-more:hover {
  background-color: rgb(212, 210, 201);
  transition: 0.3s ease-in-out;
  color: #000;
}

.content-1 {
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
}

.container-1 {
  position: relative;
  animation-name: content-1;
  animation-duration: 4s;
  animation-delay: 0.5s;
}
.container-2 {
  position: relative;
  animation-name: content-2;
  animation-duration: 4s;
  animation-delay: 0.5s;
}
.container-3 {
  position: relative;
  animation-name: content-3;
  animation-duration: 4s;
  animation-delay: 0.5s;
}
.container-5 {
  position: relative;
  animation-name: content-5;
  animation-duration: 4s;
  animation-delay: 0.5s;
}

/* Keyframe animation */
@keyframes content-1 {
  0% {
    top: -20rem;
    opacity: 0;
    z-index: -1;
  }
  50% {
    z-index: -1;
  }
  100% {
    top: 0;
    bottom: 0;
    opacity: 1;
    z-index: 1;
  }
}

@keyframes content-2 {
  0% {
    right: -50rem;
    opacity: 0;
    z-index: -1;
  }
  50% {
    z-index: -1;
  }
  100% {
    right: 0;
    opacity: 1;
    z-index: 1;
  }
}
@keyframes content-3 {
  0% {
    left: -50rem;
    opacity: 0;
    z-index: -1;
  }
  50% {
    z-index: -1;
  }
  100% {
    left: 0;
    opacity: 1;
    z-index: 1;
  }
}
@keyframes content-5 {
  0% {
    opacity: 0;
    z-index: -1;
  }
  100% {
    opacity: 1;
    z-index: 1;
  }
}
/* end keyframe */

.bg-linear {
  background-image: linear-gradient(to top, rgb(119, 119, 119), #494949);
}

.img-2 {
  width: 400px;
  height: 500px;
}
.img-22 {
  width: 620px;
  height: 500px;
  margin-left: -200px;
}
.img-23 {
  width: 600px;
  height: 500px;
  margin-left: -200px;
}
.detail {
  text-align: center;
  margin-top: 50px;
  text-transform: capitalize;
}

.detail h2 {
  font-size: 34px;
}
.detail h3 {
  font-weight: 100;
  color: rgb(131, 131, 131);
}
.item {
  font-size: 22px;
}
.btn-item {
  background-color: #383838;
  padding: 8px 10px;
  border-radius: 3px;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}
.btn-item:hover {
  color: rgb(238, 173, 75);
  background-color: rgb(34, 34, 34);
}

.p-3 {
  padding: 3px;
}

.product-item {
  text-decoration: none;
  color: #000;
  text-transform: capitalize;
}

.carousel-item {
  position: relative;
}
.top-60 {
  top: 60%;
}
.carousel-text a {
  text-decoration: none;
}
.carousel-bg2-text {
  position: absolute;
  top: 40%;
  right: 0;
  margin-right: calc(50% - 1200px / 2);
  z-index: 1;
}
.carousel-text h1 {
  font-size: 30px;
  padding: 10px;
  background: -webkit-linear-gradient(rgb(156, 156, 156), rgb(247, 247, 247));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.carousel-bg2-text h1 {
  font-size: 65px;
  background: -webkit-linear-gradient(rgb(156, 156, 156), rgb(247, 247, 247));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.carousel-bg2-text h3 {
  color: rgb(226, 226, 226);
}
.rog-font {
  font-family: 'ROG-font';
}

.carouselIndicators {
  position: absolute;
  right: 0;
  left: 0;
  bottom: -100px;
  z-index: 1;
}
.carouselIndicators a {
  text-decoration: none;
  color: rgb(37, 37, 37);
  font-size: 20px;
  box-sizing: content-box;
}

.carouselIndicators a:hover {
  background-color: #000;
  color: #fff;
  padding: 5px;
  box-sizing: border-box;
  transition: 0.5s ease-in-out;
}

.content-2 {
  margin-top: 10rem;
}

.img {
  height: 16rem;
  padding: 30px;
  margin: 0 auto;
  box-sizing: border-box;
}
.w-9 {
  width: 13rem;
  margin: 0 auto;
}

.w-10 {
  width: 14rem;
  margin: 0 auto;
}
.w-18 {
  width: 18rem;
}
.w-16 {
  width: 16rem;
  margin-top: 0.8rem;
}
.w-22 {
  width: 22rem;
  margin-top: 0.4rem;
}
.w-24 {
  width: 24rem;
  margin-top: 0.4rem;
}
.w-25 {
  width: 25rem;
}
.w-66 {
  width: 66rem;
}
.w-80 {
  width: 80rem;
}
.h-40 {
  height: 40rem;
}

.card .card-body a {
  color: #000;
  margin-left: 5px;
  border-bottom: 1px solid #000;
  text-decoration: none;
}

.image {
  position: relative;
}

.img-9 {
  display: block;
  float: right;
}

.img-hover-pad:hover {
  padding: 20px;
}

.img-overlay {
  position: absolute;
  width: 24rem;
  height: 40rem;
  border-radius: 15px;
  top: 6px;
  left: 265px;
  background: rgba(34, 34, 34, 0.3);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  float: right;
}

.img-overlay-2,
.img-overlay-3,
.img-overlay-4 {
  position: absolute;
  top: 0;
  left: 10px;

  border-radius: 15px;
  background: rgba(34, 34, 34, 0.3);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
}

.img-overlay-5 {
  position: absolute;
  width: 66rem;
  height: 40rem;
  border-radius: 25px;
  top: 0;
  left: 12px;
  background: rgba(34, 34, 34, 0.3);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
}

.img-overlay-2 {
  width: 22rem;
  height: 12.6rem;
}
.img-overlay-3,
.img-overlay-4 {
  width: 22rem;
  height: 12.4rem;
}

.img-overlay:hover,
.img-overlay-2:hover,
.img-overlay-3:hover,
.img-overlay-4:hover,
.img-overlay-5:hover {
  opacity: 1;
  transition: 0.3s ease-in-out;
}

.img-10,
.img-11,
.img-12 {
  display: block;
  margin-left: 10px;
}

.text-pre-order {
  background-color: rgb(50, 151, 182);
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  padding: 5px;
  font-size: 14px;
  position: absolute;
  top: 0;
  right: 0;
  box-sizing: content-box;
  opacity: 0.8;
}

.b-50 {
  bottom: -50px;
}

.img-radius {
  border-radius: 15px;
}

.bg-item {
  padding: 0px 5px;
  margin-top: 1.5rem;
}
.col-sm-7 a,
.col-sm-9 a {
  float: right;
  color: #000;
  text-decoration: none;
  border-bottom: 1px solid #000;
  margin-top: 10px;
  font-size: 18px;
}

.col-sm-2 {
  flex: 0 0 auto;
  width: 20%;
}

.col-sm-9 {
  flex: 0 0 auto;
  width: 80%;
}
.col-sm-12 h1 {
  margin-top: 5rem;
}

.search-field {
  width: 50%;
  margin: 0 auto;
}
.search-list-item a {
  color: #000;
  text-decoration: none;
}

.search-list {
  margin: 0 20px;
  font-size: 0;
  text-align: center;
}
.search-list-item {
  display: inline-block;
  padding: 0 4px 8px 4px;
  background-color: rgb(255, 255, 255);
  padding: 5px 15px;
  margin-right: 10px;
  border-radius: 20px;
  width: max-content;
  box-sizing: border-box;
  font-size: 14px;
  box-shadow: 0px 0px 5px rgb(0, 0, 0, 0.3);
  text-transform: capitalize;
}

.search-list-item:hover {
  background-color: rgb(241, 241, 241);
}
li {
  list-style: outside none none;
}

.contact {
  padding-top: 100px;
  margin: 0 auto;
  height: 300px;
  font-size: 16px;
}
.contact .ml-50 {
  margin-left: 50px;
}

.bg-linear-white-grey {
  background-image: linear-gradient(#fff, #404040);
}

footer {
  color: rgb(212, 212, 212);
}

.footer-body {
  padding: 50px 50px 10px 50px;
}

.footer-body a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.text-decoration {
  text-decoration: none;
  color: rgb(43, 43, 43);
}
.text-decoration:hover {
  color: rgb(43, 43, 43);
}
.mt-8 {
  margin-top: 8rem;
}
.vh-100 {
  height: 100vh;
}

.vh-100 .container .header {
  margin-top: 10rem;
}
/* Modal */
.modal {
  position: fixed;
  z-index: 2;
  padding-top: 100px;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  visibility: visible;
}

.content-modal {
  background-color: rgb(240, 240, 240);
  margin: 0 auto;
  padding: 20px;
  width: 30%;
  text-align: center;
  font-size: 30px;
  border-radius: 15px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* end modal */

/* Media Query */
@media (max-width: 1440px) {
  .carousel-bg2-text {
    top: 40%;
    right: 5rem;
    /* margin-right: calc(90% - 1200px / 2); */
  }
  .carousel-bg2-text h1 {
    font-size: 50px;
  }
  .carousel-bg2-text h3 {
    font-size: 30px;
  }
  .carousel-text-more {
    font-size: 18px;
    margin-left: 45%;
  }
  .col-sm-2 {
    flex: 0 0 auto;
    width: 29.666667%;
  }
  .content-5 .row {
    justify-content: center !important;
  }
  .content-5 .row .col-sm-3 {
    width: 18%;
  }
  .content-5 .row .col-sm-3 a img {
    width: 12rem;
    margin: 0 auto;
  }
}
@media (max-width: 1024px) {
  .carousel-bg2-text {
    top: 40%;
    right: 5rem;
    /* margin-right: calc(90% - 1200px / 2); */
  }
  .carousel-bg2-text h1 {
    font-size: 50px;
  }
  .carousel-bg2-text h3 {
    font-size: 30px;
  }
  .carousel-text-more {
    font-size: 18px;
    margin-left: 45%;
  }
  .img-2 {
    width: 300px;
    height: 320px;
  }
  .img-22,
  .img-23 {
    width: 400px;
    height: 320px;
    margin-left: -100px;
  }
  .carousel .carouselIndicators a {
    font-size: 14px;
  }
  .img {
    width: 15rem;
    height: 15rem;
    padding: 30px;
    margin: 0 auto;
    margin-left: -10px;
    box-sizing: border-box;
  }
  .w-9 {
    width: 13rem;
    margin: 0 auto;
  }

  .w-10 {
    width: 14rem;
    margin: 0 auto;
  }
  .col-sm-2 {
    flex: 0 0 auto;
    width: 40.666667%;
  }

  .img-overlay {
    top: 6px;
    left: 84px;
  }
  .col-sm-7 {
    width: 81.333333%;
  }
  .col-sm-9 {
    flex: 0 0 auto;
    width: 100%;
  }
  .col-sm-10 {
    flex: 0 0 auto;
    width: 99.333333%;
  }

  .col-sm-10 .h-40 {
    height: 39rem;
  }
  .w-66 {
    width: 58rem;
  }
  .w-80 {
    width: 100%;
  }
  .img-overlay-5 {
    width: 58rem;
    height: 39rem;
    top: 0;
    left: 12px;
  }

  .content-5 .row {
    justify-content: center !important;
  }
  .content-5 .row .col-sm-3 {
    width: 18%;
  }
  .content-5 .row .col-sm-3 a img {
    width: 10rem;
    margin: 0 auto;
  }
  .search-field {
    width: 70%;
  }

  .content-modal {
    padding: 20px;
    width: 50%;
    font-size: 20px;
  }

  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
}

@media (max-width: 768px) {
  .carousel-text a h5 {
    font-size: 16px;
    margin: 0 auto;
  }
  .carousel-bg2-text {
    top: 40%;
    right: 20rem;
    /* margin-right: calc(90% - 1200px / 2); */
  }
  .carousel-bg2-text h1 {
    font-size: 25px;
  }
  .carousel-bg2-text h3 {
    font-size: 20px;
  }
  .carousel-text-more {
    font-size: 14px;
    margin-left: 35%;
  }

  .card .card-body h5 {
    font-size: 14px;
  }

  .img {
    width: 11rem;
    height: 10rem;
    padding: 30px;
    margin: 0 auto;
    margin-left: -10px;
    box-sizing: border-box;
  }

  .img-2 {
    width: 200px;
    height: 220px;
  }
  .img-22,
  .img-23 {
    width: 300px;
    height: 220px;
    margin-left: -100px;
  }

  .w-9 {
    width: 9rem;
    margin: 0 auto;
  }

  .w-10 {
    width: 10rem;
    margin: 0 auto;
  }
  .mt-16 {
    margin-top: -16px;
  }
  .detail {
    margin-top: 10px;
  }
  .detail h2 {
    font-size: 24px;
  }
  .detail h3 {
    font-weight: 100;
    color: rgb(131, 131, 131);
    font-size: 18px;
  }
  .item {
    font-size: 10px;
    margin-top: 1rem;
  }
  .btn-item {
    background-color: #383838;
    padding: 8px 10px;
    border-radius: 3px;
    color: #fff;
    text-decoration: none;
    font-size: 12px;
  }
  .btn-item:hover {
    color: rgb(238, 173, 75);
    background-color: rgb(34, 34, 34);
  }

  .card .card-body .btn-item {
    background-color: #383838;
    padding: 5px 10px;
    border-radius: 3px;
    color: #fff;
    text-decoration: none;
    font-size: 10px;
  }
  .card .card-body a {
    font-size: 10px;
  }
  .h-40 {
    height: 30rem;
  }
  .w-24 {
    width: 18rem;
  }
  .w-22 {
    width: 17rem;
  }
  .bg-item {
    padding: 0px 5px;
    margin-top: 10px;
  }

  .img-overlay {
    width: 18rem;
    height: 30rem;
    top: 6px;
    left: 60px;
  }

  .img-overlay-2,
  .img-overlay-3,
  .img-overlay-4 {
    position: absolute;
    top: 0;
    left: 10px;
    border-radius: 15px;
    background: rgba(34, 34, 34, 0.3);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
  }

  .img-overlay-5 {
    width: 43rem;
    height: 28rem;
    top: 0;
    left: 12px;
  }

  .img-overlay-2 {
    width: 17rem;
    height: 9.8rem;
  }
  .img-overlay-3,
  .img-overlay-4 {
    width: 17rem;
    height: 9.5rem;
  }

  .img-overlay:hover,
  .img-overlay-2:hover,
  .img-overlay-3:hover,
  .img-overlay-4:hover,
  .img-overlay-5:hover {
    opacity: 1;
    transition: 0.3s ease-in-out;
  }

  .img-10,
  .img-11,
  .img-12 {
    display: block;
    margin-left: 10px;
  }

  .text-pre-order {
    background-color: rgb(50, 151, 182);
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 5px;
    font-size: 14px;
    position: absolute;
    top: 0;
    right: 0;
    box-sizing: content-box;
    opacity: 0.8;
  }

  .col-sm-7 {
    width: 86.333333%;
  }

  .col-sm-10 .h-40 {
    height: 28rem;
  }

  .w-66 {
    width: 43rem;
  }

  .content-5 .row {
    justify-content: center !important;
  }
  .content-5 .row .col-sm-3 {
    width: 20%;
  }
  .content-5 .row .col-sm-3 a img {
    width: 8rem;
    margin: 0 auto;
  }

  .search-field {
    width: 70%;
  }

  .contact {
    font-size: 14px;
  }

  .contact .ml-50 {
    margin-left: 30px;
  }

  .content-modal button {
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  .carousel-bg2-text {
    top: 40%;
    right: 25rem;
    /* margin-right: calc(90% - 1200px / 2); */
  }
  .carousel-bg2-text h1 {
    font-size: 18px;
  }
  .carousel-bg2-text h3 {
    font-size: 14px;
    margin-bottom: -10px;
  }

  .carousel-text-more {
    font-size: 10px;
    margin-left: 35%;
  }
  .content-5 .row {
    justify-content: center !important;
  }
  .content-5 .row .col-sm-3 {
    width: 20%;
  }
  .content-5 .row .col-sm-3 a img {
    width: 6rem;
    margin: 0 auto;
  }

  .search-field {
    width: 70%;
  }

  .content-modal button {
    font-size: 12px;
  }
}

@media (max-width: 425px) {
  .col-sm-12 h1 {
    font-size: 24px;
  }
  .img-2,
  .img-23,
  .img-22 {
    margin: 0 auto;
  }
  .carousel .carouselIndicators a {
    font-size: 12px;
  }

  .col-3 {
    flex: 0 0 auto;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .img {
    margin: 0 auto;
    padding: 10px;
  }
  .carousel-text a h5 {
    font-size: 10px;
    margin: 0 auto;
  }
  .img-9 {
    display: block;
    float: right;
  }

  .bg-item {
    margin-left: -15px;
  }
  .w-24 {
    width: 10rem;
  }
  .h-40 {
    height: 18rem;
  }
  .w-22 {
    width: 10rem;
  }
  .col-sm-6 {
    flex: 0 0 auto;
    width: 50%;
  }
  .img-overlay {
    width: 10rem;
    height: 18rem;
    top: 6px;
    left: 41px;
    font-size: 12px;
  }

  .img-overlay-2,
  .img-overlay-3,
  .img-overlay-4 {
    top: 0;
    left: 10px;
    font-size: 12px;
  }

  .img-overlay-5 {
    width: 25rem;
    height: 15rem;
    top: 0;
    left: 12px;
  }

  .img-overlay-2 {
    width: 10rem;
    height: 5.75rem;
  }
  .img-overlay-3,
  .img-overlay-4 {
    width: 10rem;
    height: 5.6rem;
  }

  .img-overlay:hover,
  .img-overlay-2:hover,
  .img-overlay-3:hover,
  .img-overlay-4:hover,
  .img-overlay-5:hover {
    opacity: 1;
    transition: 0.3s ease-in-out;
  }

  .img-10,
  .img-11,
  .img-12 {
    display: block;
    margin-left: 10px;
  }

  .text-pre-order {
    font-size: 8px;
    opacity: 0.8;
  }

  .img-overlay .btn-item,
  .bg-item .image .btn-item {
    font-size: 8px;
    padding: 3px 3px;
    margin-top: 0px;
  }
  .img-overlay .bi-bag-plus,
  .bg-item .image .bi-bag-plus {
    width: 12px;
    height: 12px;
  }

  .col-sm-7 {
    width: 93.333333%;
  }

  .col-sm-9 {
    flex: 0 0 auto;
    width: 100%;
  }
  .col-sm-10 {
    flex: 0 0 auto;
    width: 99.333333%;
  }

  .col-sm-10 .h-40 {
    height: 15rem;
  }
  .w-66 {
    width: 25rem;
  }
  .w-80 {
    width: 100%;
  }

  .content-5 .row {
    justify-content: center !important;
  }
  .content-5 .row .col-sm-3 {
    width: 20%;
  }
  .content-5 .row .col-sm-3 a img {
    width: 5rem;
    margin: 0 auto;
  }

  .search-field {
    width: 80%;
  }
  .search-list-item {
    padding: 5px 10px;
    font-size: 10px;
  }
  .search-list li:nth-child(3),
  .search-list li:nth-child(4) {
    margin-top: 10px;
  }

  .contact {
    font-size: 12px;
  }
  .contact .col-sm-6 {
    width: 100%;
  }
  .contact .margin-top-2 {
    margin-top: 2rem;
  }
  .contact .ml-50 {
    margin-left: 20px;
  }

  .bi-facebook,
  .bi-instagram,
  .bi-youtube {
    width: 20px;
    height: 20px;
  }

  .footer-body {
    padding: 50px 10px 10px 10px;
    font-size: 10px;
  }
  .content-modal {
    padding: 20px;
    width: 80%;
    font-size: 16px;
  }
  .content-modal button {
    font-size: 12px;
  }
}
